---
import SocialLink from "./SocialLink.astro";

import LinkedInSVG from "../../assets/linkedin.svg?raw";
import InstagramSVG from "../../assets/instagram.svg?raw";
import GithubSVG from "../../assets/github.svg?raw";
---

<footer
  class="container mx-auto flex flex-row items-center justify-between px-8 py-4 text-woodsmoke sm:px-0 dark:text-alice-blue"
>
  <div class="flex gap-2">
    <SocialLink
      text="LinkedIn - Patrik Garten"
      raw={LinkedInSVG}
      link="https://linkedin.com/in/paifgx"
    />

    <SocialLink
      text="Instagram - garten.dev"
      raw={InstagramSVG}
      link="https://www.instagram.com/garten.dev"
    />

    <SocialLink
      text="Instagram - garten.ai"
      raw={InstagramSVG}
      link="https://www.instagram.com/garten.ai"
    />

    <SocialLink
      text="Github - paifgx"
      raw={GithubSVG}
      link="https://github.com/paifgx"
    />
  </div>

  <div class="description text-sm">
    <a
      href="/privacy"
      target="_self"
      class="inline-block text-current underline decoration-black/15 underline-offset-2 transition-colors duration-300 ease-in-out hover:text-black hover:decoration-black/25 dark:decoration-white/30 hover:dark:text-white hover:dark:decoration-white/50"
    >
      datenschutz
    </a>
    /
    <a
      href="/impress"
      target="_self"
      class="inline-block text-current underline decoration-black/15 underline-offset-2 transition-colors duration-300 ease-in-out hover:text-black hover:decoration-black/25 dark:decoration-white/30 hover:dark:text-white hover:dark:decoration-white/50"
    >
      impressum
    </a>
  </div>
</footer>
