---
import BaseLayout from "../layouts/BaseLayout.astro";

import SectionHero from "../components/index/SectionHero.astro";
import SectionPartners from "../components/index/SectionPartners.astro";
import SectionPainPoints from "../components/index/SectionPainPoints.astro";
import SectionAuthority from "../components/index/SectionAuthority.astro";
import SectionMethod from "../components/index/SectionMethod.astro";
import SectionHappyEnd from "../components/index/SectionHappyEnd.astro";
import SectionStepsCTA from "../components/index/SectionStepsCTA.astro";
import SectionReviews from "../components/index/SectionReviews.astro";
---

<BaseLayout>
  <SectionHero />
  <SectionPartners />
  <SectionPainPoints />

  <div class="my-12 border-t border-gray-100 dark:border-white/5"></div>

  <SectionAuthority />
  <SectionHappyEnd />
  <SectionMethod />

  <SectionReviews />

  <SectionStepsCTA />
</BaseLayout>
