---
import BaseLayout from "../layouts/BaseLayout.astro";

import SectionHero from "../components/index/SectionHero.astro";
import SectionPartners from "../components/index/SectionPartners.astro";
import SectionWelcome from "../components/index/SectionWelcome.astro";

import ServiceArticle from "src/components/ServiceArticle.astro";

import SectionReviews from "src/components/index/SectionReviews.vue";
import SectionCTA from "src/components/index/SectionCTA.astro";
---

<BaseLayout>
  <SectionHero />
  <SectionPartners />
  <SectionWelcome />

  <section id="services">
    <ServiceArticle
      subtitle="Transformation"
      title="Digitale Transformation und KI-Lösungen für Ihr Unternehmen"
      imagePosition="right"
      image="https://studio.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flaptop.22dcb094.jpg&w=3840&q=75"
      paragraphs={{
        intro: "Nutzen Sie die vielfältigen Möglichkeiten der digitalen Transformation und Künstlichen Intelligenz, um Prozesse zu optimieren, Fehler zu minimieren und Innovationen gezielt voranzutreiben. Ich biete maßgeschneiderte, KI-gestützte Lösungen, die Ihre Effizienz steigern und Ihrem Unternehmen entscheidende Wettbewerbsvorteile verschaffen.",
        details: [
          { heading: "Effizienzsteigerung durch Automatisierung", text: "Reduzieren Sie Fehler und sparen Sie Zeit durch automatisierte, präzise Prozesse, die Ihre Produktivität nachhaltig steigern." },
          { heading: "Skalierbare Lösungen für Wachstum", text: "Unsere digitalen und KI-gestützten Lösungen wachsen flexibel mit Ihrem Unternehmen und passen sich jederzeit neuen Anforderungen und Märkten an." },
          { heading: "Wettbewerbsvorteile durch Innovation", text: "Mit modernsten KI-Technologien sichern Sie sich entscheidende Vorteile und bleiben Ihren Mitbewerbern durch Innovation einen Schritt voraus." }
        ]
      }}
    />

    <ServiceArticle
      subtitle="Effizienz"
      title="Maßgeschneiderte Softwarelösungen, Engineering und IT-Beratung"
      imagePosition="left"
      image="https://studio.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flaptop.22dcb094.jpg&w=3840&q=75"
      paragraphs={{
        intro: "Unsere spezialisierten Dienstleistungen im Bereich der digitalen Transformation bieten Ihnen maßgeschneiderte Lösungen...",
        details: [
          { heading: "Angepasste Softwarelösungen", text: "Individuell entwickelte Software für Ihre Geschäftsprozesse..." },
          { heading: "Software Engineering", text: "Zuverlässige und skalierbare Systeme, die auf bewährten Methoden..." },
          { heading: "IT Consulting", text: "Beratung für optimale IT-Entscheidungen, von der Analyse bis zur Umsetzung." }
        ]
      }}
    />

    <ServiceArticle
      title="Entwickeln Sie Ihre IT-Kompetenz mit uns"
      subtitle="Lernen"
      imagePosition="right"
      image="https://studio.tailwindui.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Flaptop.22dcb094.jpg&w=3840&q=75"
      paragraphs={{
        intro: "Als erfahrener IT-Dozent biete ich praxisnahe Schulungen und individuelles Coaching, die speziell auf die Bedürfnisse von Fachleuten und Unternehmen zugeschnitten sind. Erweitern Sie Ihr Wissen und bleiben Sie mit den neuesten Technologien auf dem Laufenden.",
        details: [
          { heading: "Praxisorientierte Schulungen", text: "Erwerben Sie direkt anwendbares Wissen, das Sie sofort in Ihrem beruflichen Alltag effektiv einsetzen können." },
          { heading: "Maßgeschneidertes Coaching", text: "Persönliche Betreuung, um gezielt Ihre beruflichen Herausforderungen anzugehen und Ihre individuellen Ziele zu erreichen." },
          { heading: "Aktuelle Technologietrends", text: "Bleiben Sie am Puls der IT-Branche mit Schulungen zu den neuesten Entwicklungen und Best Practices." }
        ]
      }}
    />
  </section>

  <SectionReviews client:load />

  <SectionCTA />
</BaseLayout>
