<section id="contact" class="min-h-screen text-center">
  <h2>Kontaktieren Sie mich</h2>
  <p class="mx-auto mt-4 max-w-lg">
    Haben Sie Fragen zu meinen Dienstleistungen oder möchten Sie einen
    Beratungstermin vereinbaren? Ich freue mich auf Ihre Nachricht.
  </p>
  <div class="mt-8 space-y-4">
    <p>
      E-Mail: <a
        href="mailto:info@garten.dev"
        class="text-amaranth hover:underline">info@garten.dev</a
      >
    </p>
    <p>
      Telefon: <a
        href="tel:+4915164587494"
        class="text-amaranth hover:underline">+49 1516 4587494</a
      >
    </p>
    <p>
      LinkedIn: <a
        href="https://linkedin.com/in/paifgx"
        target="_blank"
        class="text-amaranth hover:underline">LinkedIn Profil</a
      >
    </p>
  </div>
</section>
