<section class="min-h-screen items-center text-center sm:-mt-[5.25rem]">
  <h1>Zukunft sichern, heute <br />– in neuem Design!</h1>

  <p class="mt-6 max-w-2xl text-lg">
    Meine Webseite wird derzeit umgestaltet, um Ihnen noch klarer zu zeigen, wie
    meine KI-gestützten Lösungen Ihre Effizienz steigern und Kosten senken.
    Entdecken Sie bald, wie innovative Technologien Ihr Unternehmen profitabler
    und zukunftssicher machen. Seien Sie der Zukunft einen Schritt voraus!
  </p>

  <div class="mt-8 flex flex-wrap justify-center gap-4">
    <a href="#contact" class="btn btn-primary">Kontaktieren Sie mich</a>
    <a
      href="https://www.linkedin.com/in/paifgx/"
      target="_blank"
      class="btn btn-outline">Mehr erfahren</a
    >
  </div>
</section>
