<section id="hero" aria-label="Hauptbereich" class="relative bg-white">
  <div class="mx-auto max-w-7xl">
    <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
      <svg
        class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="0,0 90,0 50,100 0,100"></polygon>
      </svg>

      <div
        class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0 h-screen"
      >
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
          <h2
            class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl"
          >
            Zukunft sichern, <span
              class="relative whitespace-nowrap text-blue-600"
              ><svg
                aria-hidden="true"
                viewBox="0 0 418 42"
                class="absolute left-0 top-2/3 h-[0.58em] w-full fill-blue-300/70"
                preserveAspectRatio="none"
                ><path
                  d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z"
                ></path></svg
              ><span class="relative">heute</span></span
            >!
          </h2>
          <p class="mt-8 text-lg font-medium text-gray-500 sm:text-lg">
            Nutzen Sie die Chancen der digitalen Transformation und der
            künstlichen Intelligenz, um Ihre Geschäftsabläufe zu verbessern und
            sich einen Vorteil im Wettbewerb zu verschaffen. Seien Sie der
            Initiator des Wandels und nicht das Opfer der Veränderungen.
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <a
              href="#contact"
              class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            >
              Jetzt kontaktieren
            </a>
            <a href="#more-info" class="text-sm font-semibold text-gray-900">
              Mehr erfahren <span aria-hidden="true">→</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero-Bild -->
  <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img
      class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full"
      src="https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80"
      alt="Bildbeschreibung"
    />
  </div>
</section>
