<section
  id="about"
  aria-label="Willkommen bei Patrik"
  class="bg-white px-6 py-12 lg:px-8"
>
  <div class="mx-auto max-w-3xl text-center">
    <p class="text-base leading-7 font-semibold text-indigo-600">
      Ihr Partner für maßgeschneiderte KI- und Digitalisierungsstrategien im
      DACH-Raum
    </p>
    <h2
      class="mt-2 text-5xl font-semibold tracking-tight text-gray-900 sm:text-6xl"
    >
      Willkommen bei Patrik
    </h2>
    <p class="mt-8 text-md leading-7 text-gray-500">
      Als freiberuflicher AI Solution Architect &amp; Developer, Software
      Engineer und IT-Dozent unterstütze ich kleine und mittlere Unternehmen im
      DACH-Raum dabei, die Chancen der digitalen Transformation optimal zu
      nutzen. Mit meiner langjährigen Erfahrung und einem tiefen Verständnis für
      innovative Technologien begleite ich Sie von der Strategieentwicklung bis
      zur erfolgreichen Umsetzung.
    </p>
  </div>
</section>
