<section id="hero" aria-label="Hauptbereich" class="relative bg-white">
  <div class="mx-auto max-w-7xl">
    <div class="relative z-10 pt-14 lg:w-full lg:max-w-2xl">
      <svg
        class="absolute inset-y-0 right-8 hidden h-full w-80 translate-x-1/2 transform fill-white lg:block"
        viewBox="0 0 100 100"
        preserveAspectRatio="none"
        aria-hidden="true"
      >
        <polygon points="0,0 90,0 50,100 0,100"></polygon>
      </svg>

      <div
        class="relative px-6 py-32 sm:py-40 lg:px-8 lg:py-56 lg:pr-0 h-screen"
      >
        <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
          <h2
            class="text-5xl font-semibold tracking-tight text-gray-900 sm:text-7xl"
          >
            Zukunft sichern, heute!
          </h2>
          <p class="mt-8 text-lg font-medium text-gray-500 sm:text-lg">
            Nutzen Sie die Chancen der digitalen Transformation und der
            künstlichen Intelligenz, um Ihre Geschäftsabläufe zu verbessern und
            sich einen Vorteil im Wettbewerb zu verschaffen. Seien Sie der
            Initiator des Wandels und nicht das Opfer der Veränderungen.
          </p>
          <div class="mt-10 flex items-center gap-x-6">
            <a
              href="#contact"
              class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500"
            >
              Jetzt kontaktieren
            </a>
            <a href="#more-info" class="text-sm font-semibold text-gray-900">
              Mehr erfahren <span aria-hidden="true">→</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero-Bild -->
  <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img
      class="aspect-[3/2] object-cover lg:aspect-auto lg:h-full lg:w-full"
      src="https://images.unsplash.com/photo-1483389127117-b6a2102724ae?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1587&q=80"
      alt="Bildbeschreibung"
    />
  </div>
</section>
